<!--
  Generated template for the CartPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>cart</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!-- myCart数组长度小于0 -->
  <div *ngIf="myCart.length==0">
    <img src="../../assets/img/404/404_img2.png" alt="">
    <h2>
      购物车为空快去选购吧
    </h2>
  </div>
  <!-- myCart数组长度大于0 -->
  <ion-list>
    <ion-item *ngFor="let item of myCart;let myindex=index">
      <ion-checkbox item-start [(ngModel)]="item.isSlected" (ngModelChange)="isSlecteds()"></ion-checkbox>
      <ion-thumbnail item-end>
        <ion-grid>
          <ion-row>
            <ion-col>
              <img [src]="'http://127.0.0.1:8080/'+item.pic" alt="">
            </ion-col>
            <ion-col>
              <h4>{{item.title}}</h4>
              <p style="color:red">{{item.price|currency:"CNY"}}</p>
              <button>-</button>
              <span>{{item.count}}</span>
              <button>+</button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-thumbnail>
    </ion-item>
  </ion-list>

  <!-- <ion-list>
    <ion-item-sliding *ngFor="let item of myCart;let myindex=index">
      <ion-item>
        <ion-avatar item-start>
          <img [src]="'../../assets/'+item.pic" alt=""></ion-avatar>
        {{item.title}}
      </ion-item>
      <ion-item-options>
        <button ion-button color>
          删除
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list> -->
</ion-content>
<ion-footer>
  <!-- 储存是全选的复选框和去结算的按钮 -->
  <ion-grid>
    <ion-row align-items-center>
      <ion-col col-2 style="text-align: center;">
        <ion-checkbox [(ngModel)]="isSelecteds" (ngModelChange)="ChangeSelecteds()"></ion-checkbox>
      </ion-col>
      全选
      <ion-col>
        本次消费{{calcAll()}}
      </ion-col>
      <ion-col>
        <button ion-button block color="danger">付款</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
